:root{

    --couleur  : rgba(19 128 248) ;
    --orange :#FD9305 ;
    --gris: #999
}
body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    overflow: hidden; /*pour enlever la barre de scrll*/
}
.container {
    display: flex;
    border: 1px solid #ccc;
    width: 50%;
    height: 450px;


}
.gauche{
    /* background: rgb(19, 128, 248) url("building-construction.jpg"); */
    background: linear-gradient(0deg, rgba(19 128 248 / 90%), rgba(19 128 248 / 90%)), url("assets/building-construction.jpg");
    width: 55%;
}

.logo{
    padding-left: 20px;
}
.logo img{
    width: 35px;
    margin-left: 13px;
}
.logo p{
    font-size: 8px;
    color: white;
    margin-top: 0;
    margin-left : 2px ;
}
.infos {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black;
    margin: 0; */
}
.infos img{
    margin: 0;
}
.infos .contact{
    background-color: white;
    margin: 0;
    padding: 15px;
    height: 60px; 
    font-size: 10px;
}
.infos .contact .detail_info{
    display: flex;
}
.infos .contact .detail_info .titre_detail{
    width: 22%;
    font-weight: bold;
}
.infos .contact .detail_info .info{
    width: 70%;
}
.infos .contact .detail_info .info1{
   margin-bottom: 4px;
}
.infos .contact .detail_info .deux_points{
    width: 3%;
}
.contacts{
    display: flex;
    flex-direction: column;
}
.droite{
    width: 45%;
    padding-left: 20px;
    padding-top: 30px;
    background-color: #F4F7FC;
}
h5{
    color: var(--couleur);
}
input[type="text"] , input[type="password"] , input[type="submit"] {
    width: 100%;
    height: 38px;
    box-sizing: border-box;
    margin-bottom: 18px;
    padding-left: 10px;
    border: 1px solid #cccccc65;

}
.droite-container{
    width: 98%;
}

input::placeholder {
    font-size: 10px; 
    color: #999;    
  }

.captcha{
    border: 1px solid #cccccc65;
    background-color: white;
    padding: 10px;
    height: 85px;

}
.top-captcha , .remindMe_PasswordForgotten{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}
.top-captcha button{
    background-color: var(--couleur);
    border: none;
    color: white;
    padding: 12px;
    font-size: 9px;
    border-radius: 5px;
    width: 90px;
}
#texte_orange{
    color: var(--orange);
    font-weight: bold;
    display: flex;
    align-items: center;
}
.captcha input{
    border-radius: 5px;
}
.remindMe_PasswordForgotten{
    margin-top: 18px;
}
.remind{
    font-size: 9px;
    color: var(--gris);
}
a{
    color: var(--couleur);
    font-size: 10px;
    text-decoration: none;
}
input[type="submit"]{
    background-color: var(--couleur);
    color: white;
    border-radius: 5px;
    margin: 0;
}
input[type="checkbox"]{

}

.boutons span{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 9px;
   color: var(--couleur);
   margin-top: 5px;
}


.boutons button{
    margin-top:-80px ;
    border: 2px solid var(--couleur);
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    color: var(--couleur);


}

